.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.header__title {}

.header__button {
  height: 40px;
  width: 100px;
  font-weight: 600;
  cursor: pointer;
}

.header__button--light {
  background-color: #f5f5f5;
  border: 1px solid #000;
}

.header__button--dark {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
}